
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes de Hospital</h2>


<hr />


<div>
    @Html.ActionLink("Doctor con más bonos acumulados - Reporte 1", "Create", "PACIENTEs", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>
<hr />


<div>
    @Html.ActionLink("Paciente con más citas - Reporte 2", "Create", "PACIENTEs", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>
<hr />


<div>
    @Html.ActionLink("Paciente más antiguo - Reporte 3", "Create", "PACIENTEs", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>
<hr />


<div>
    @Html.ActionLink("Especialidad con más doctores - Reporte 4", "Create", "PACIENTEs", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>
<hr />


<div>
    @Html.ActionLink("Mes con mayor cantidad de Citas - Reporte 5",  "Create", "PACIENTEs", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>

<hr />