@model IEnumerable<Practica2.Models.DOCTOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctores</h2>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Crear Nuevo Doctor", "Create")</li>
    <li>@Html.ActionLink("Doctores por Especialidad", "ListadoEspecialidad", "DOCTORs")</li>
</ul>
<table class="table">
    <tr>
        <th>
            DPI
        </th>
        <th>
            Nombre
        </th>
        <th>
            Dirección
        </th>
        <th>
            Telefono
        </th>
        <th>
            Puesto
        </th>
        <th>
            Sueldo
        </th>
        <th>
            Especialidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.dpi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.puesto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sueldo)
    </td>
    <td>
        @Html.ActionLink("Especialidad", "Especialidad", new { id = item.dpi })
    </td>
</tr>
}

</table>
