@model Practica2.Models.CITA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Registro</h2>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    <h4>CITA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivoCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivoCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCTOR.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCTOR.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Registro" class="btn btn-warning" /> |
            @Html.ActionLink("Regresar a la lista de citas", "Index")
        </div>
    }
</div>
