@model IEnumerable<Practica2.Models.CITA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de Citas Programadas</h2>

<p>
    @Html.ActionLink("Registrar Nueva Cita", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No. de Cita
        </th>
        <th>
            Fecha de Cita
        </th>
        <th>
            Motivo de Cita
        </th>
        <th>
            Costo
        </th>
        <th>
            Nombre Doctor
        </th>
        <th>
            Nombre Paciente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.motivoCita)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.costo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOCTOR.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PACIENTE.nombre)  @Html.DisplayFor(modelItem => item.PACIENTE.apellido)
    </td>
</tr>
}

</table>
